nav {
    display: flex;
    align-items: center;
    min-height: 10vh;
    margin: 0;
}

.nav {

    &__links {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0 0 0 32px;
    }

    &__link {
        color: #6C6D70;
        margin: 0 54px 0 0; 
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
    }

    &__img {
        width: 171px;
        height: auto;
        margin: 32px 0 0 32px;
    }

    &__hr {
        margin: 95px 0 0 0;
    }

}