.business {

    &__container {
        display: flex;
        margin: 0 0 0 32px;
    }

    &__box {
        border: 1px solid rgb(234, 237, 243);
        margin: 0 32px 32px 0;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(234, 237, 243), 0 1px 2px rgba(234, 237, 243);

        &--sales {
            width: 693px;
            height: 241px;
        }

        &--omzet {
            width: 350px;
            height: 241px;
        }

        &--projecten {
            width: 485px;
            height: 241px;
        }

        &--ttlsales {
            width: 513px;
            height: 409px;
        }

        &--wklomzet {
            width: 1047px;
            height: 409px;
        }

        p {
            margin: 30px 0 0 30px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}