nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  margin: 0;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 0 32px;
}
.nav__link {
  color: #6C6D70;
  margin: 0 54px 0 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.nav__img {
  width: 171px;
  height: auto;
  margin: 32px 0 0 32px;
}
.nav__hr {
  margin: 95px 0 0 0;
}

.business__container {
  display: flex;
  margin: 0 0 0 32px;
}
.business__box {
  border: 1px solid #eaedf3;
  margin: 0 32px 32px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px #eaedf3, 0 1px 2px #eaedf3;
}
.business__box--sales {
  width: 693px;
  height: 241px;
}
.business__box--omzet {
  width: 350px;
  height: 241px;
}
.business__box--projecten {
  width: 485px;
  height: 241px;
}
.business__box--ttlsales {
  width: 513px;
  height: 409px;
}
.business__box--wklomzet {
  width: 1047px;
  height: 409px;
}
.business__box p {
  margin: 30px 0 0 30px;
  font-size: 18px;
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1680px;
  margin: 0 auto;
  overflow: hidden;
}

/*# sourceMappingURL=app.css.map */
